.block-title {
  width: 40%;

  &__img {
    display: inline-block;
    border-radius: 13px;
    margin-right: 10px;
    box-shadow: 14px 11px 18px 6px rgba(181, 208, 244, 0.75);

    &--padding-top {
      padding-top: 13px;
    }

    &--box-shadow-none {
      box-shadow: none;
    }

    &--margin {
      margin: 0 0 25px 0;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--row {
      flex-direction: row;
    }
  }
  
  &__title {
    color: #0c1742;
    font-family: PoppinsBold, sans-serif;
    font-size: 29px;
    line-height: 1.5;
    font-weight: 700;

    & span {
      color: #0271c9;
      font-family: PoppinsBold, sans-serif;
    }

    &--sm {
      color: #697697;
      font-size: 16px;
      line-height: 2;
    }
  }

  &__description {
    padding-top: 25px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 860px) {
  .block-title {
    width: 100%;
  }
}