.header {
  width: 100%;
  background-color: #0B1643;
  max-height: 170px;
  height: 25vh;
  margin: 0 auto;

  &__inner {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__item {
    display: flex;
    align-items: center;

    p {
      font-size: 40px;
      font-family: 'PoppinsSemiBoldItalic', sans-serif;
      color: #017ffa;
      text-transform: uppercase;
    }

    &:nth-child(4) {
      margin-left: auto;
    }
  }

  &__image {
    align-self: center;
  }
}

@media screen and (max-width: 1400px) {
  .header {
    padding: 0 10%;

    &__inner {
      max-width: 1200px;
    }
  }
}

@media screen and (max-width: 790px) {
  .header {

    &__item {
      order: -1;

      &:nth-child(4) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 3;
        visibility: hidden;
        top: 120px;
        left: 0;
        background-color: rgba(19, 25, 50, 1);
        width: 100%;
        height: calc(50vh - 120px);
        min-height: 240px;

        & li {
          padding: 10px 0;
        }

        & a {
          display: inline-block;
          font-size: 20px;
          color: #ffffff;

          &:hover {
            color: #697697;
          }
        }
      }
    }
  }
}